body{
    margin: 0;
    list-style-position: inside;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #c6c4c4;
    font-family: 'Poppins', sans-serif;
}

#Portfolio{
    flex-direction: column;
    display: flex;
    align-items: center;
    
}
#Portfolio h1{
    height: 50px;
    font-size: 60px;
   
}
#Portfolio h2{
    height: 20px;
    font-size: 30px;
}
#Portfolio h3{
    height: 30px;
    font-size: 25px;
}

.split{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 60px auto;
    
}
#about{
    width: 45%;
}
#about h4{
    font-size: 20px;
    margin: 0 0 15px 0;
}
#about p{
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}
#skills{
    width: 45%;
    
}
#skills h5{
    font-size: 20px;
    margin: 0 0 15px 0;
}
#skills ul{
    font-size: 20px;
    margin-top: 5px;
}
#software{
    width: 45%;
}
#software p{
    font-size: 20px;
    margin: 0 0 15px 0;
}
#software ul{
    font-size: 20px;
    margin-top: 5px;
}

#links{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    
}
.link-btn{
    width: 250px;
    height: 150px;

    border: 2px solid #c6c4c4;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #c6c4c4;
    text-decoration: none;
    font-size: 25px;

    transition: 0.3s;
}
.link-btn:hover{
    background-color: rgb(255, 255, 255, 0.2);
    transform: translateY(-5px);
}
.link-btn:active{
    background-color: rgb(255, 255, 255, 0.4);
}
